*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
    font-family: 'poppins', sans-serif;
    scroll-behavior: smooth;
}


h1{
    line-height: 110%;
}

h2{
    font-weight: 500;
}

a{
    text-decoration: none;
}

body{
    height: 100vh;
}

header{
    display: flex;
    align-items: center;
    height: 80px;
    background-color: black;
    width: 100%;
    position: fixed;
    z-index: 100;
}

.header-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.header-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1440px;
}

.image-header-box{
    display: flex;
    align-items: center;
    width: 20%;
    height: 100%;
}

.logo-header{
    width: 30%;
}

.social-midias-box{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: rgb(255, 255, 255);
    width: 20%;
    gap: 10px;
    font-size: 1.6rem;
}

.social-midias-box a{
    background-color: #000000;
    color: #FFF;
}

.social-midias-box i{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    padding: 05px;
    background-color: rgb(255, 255, 255);
    border-radius: 0px;
    color: #000;
}

.social-midias-box i:hover{
    border: 0px solid #000;
    font-size: 1.5rem;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    height: 150px;
    padding-top: 3%;
    padding-bottom: 3%;
}

.footer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.footer-box{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    width: 90%;
    max-width: 1440px;
}
.footer-content{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    color: #FFF;
    gap: 10px;
    text-decoration: none;
    
}

h4{
    font-weight: 400;
}

h5{
    font-weight: 400;
}

.footer-content a{
    color: #FFF;
    cursor: pointer;
}

.image-footer{
    width: 10%;
}

